/* Default GitHub-style theme for code blocks with line numbers */
.code-block-default {
  background: #f6f8fa;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  padding: 16px;
  margin: 16px 0;
  overflow-x: auto;
}
.code-block-default pre {
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
  font-size: 12px;
  line-height: 1.5;
}
.code-block-default .line {
  display: block;
}
.code-block-default .line-number {
  display: inline-block;
  width: {{max_digits}}ch;
  margin-right: 16px;
  color: #57606a;
  text-align: right;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
