/* Minimal theme for code blocks with line numbers */
.code-block-minimal {
  border: 1px solid #ccc;
  padding: 12px;
  margin: 12px 0;
  overflow-x: auto;
}
.code-block-minimal pre {
  margin: 0;
  font-family: monospace;
  font-size: 13px;
  line-height: 1.4;
}
.code-block-minimal .line {
  display: block;
}
.code-block-minimal .line-number {
  display: inline-block;
  width: {{max_digits}}ch;
  margin-right: 12px;
  color: #888;
  text-align: right;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
